/*
CSS 
web o pagina: 3º trimestre DAM.
autor: Rita Mª Mesa Jiménez
fecha: 20 Abril 2021.
RECORDAR:
en caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

Se incluyen los principales SELECTORES SIMPLES; hay más combinaciones...

*/
@font-face{
	font-family:"Frauces";
	src.url(../css/Fraunces.ttf);
}
@font-face{
	font-family:"Roboto";
	src.url(../css/Roboto.ttf);
}
* {

  box-sizing: border-box;
}
body {
  
  margin:0px;
  font-family:"Roboto";
}
h1,h2,h3,h4,h5,h6{
	font-family:"Frauces";
	
}
p{
	line-height:25px;
}
.container--flex{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
/*estilo del header*/
.main-header{
	padding:0 15px;
}
.main-title{
	color:white;
	
}
.color-span{
	color:#EEAD33;
}
/*estilo del menu*/
.icon-menu{
	font-size:1.5em;
	color: #EEAD33;
	border:1px solid white;
	display:block;
	padding:5px 12px;
	border-radius: 5px;
	cursor: pointer;
}
.menu{
	position: absolute;
	top: 80px;
	left:0;
	background: #212121;
	width:100%;
	list-style: none;
	padding: 20px;
	margin: 0;
	z-index:999;
	opacity:0;
	visibility:hidden;
	transition:all 0.5s;
}
.menu__item{
	padding: 20px;
	text-align: center;
	width: 150px;
	margin: auto;
}
.menu__link{
	color: white;
	text-decoration: none;
	position: relative;
	display: block;
}
.menu__link: before{
	content:"";
	position: absolute;
	width: 5px;
	height: 5px;
	border-right: 2px solid #EEAD33;
	border-top: 2px solid #EEAD33;
    top: 0;	
	right: 0;
	opacity: 0;	
}
.menu__link: after{
	content:"";
	position: absolute;
	width: 5px;
	height: 5px;
	border-right: 2px solid #EEAD33;
	border-top: 2px solid #EEAD33;
    top: 0;	
	right: 0;
	opacity: 0;	
}
.menu__link span:before{
	content:"";
	position: absolute;
	width: 5px;
	height: 5px;
	border-right: 2px solid #EEAD33;
	border-top: 2px solid #EEAD33;
    top: 0;	
	right: 0;
	opacity: 0;	
}
.menu__link span:after{
	content:"";
	position: absolute;
	width: 5px;
	height: 5px;
	border-right: 2px solid #EEAD33;
	border-top: 2px solid #EEAD33;
    top: 0;	
	right: 0;
	opacity: 0;	
}
.menu__link span{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
.menu__link--select: before, .menu__link--select: after, .menu__link--select span:before, menu__link--select
span:after{
	opacity: 1;
}
.menu__item:hover .menu__link:before, menu__item:hover, .menu__link:after, .menu__item:hover, menu__link
span:before, .menu__item:hover, menu__link span:after{
	opacity:1;
}
.nav-social{
	display: flex;
	justify-content: center;	
}
.nav-social__item{
	width: 35px;
	height: 35px;
	display: block;
	text-align: center;
	padding: 10px;
	border-radius: 50%;
	margin: 10px
}

	
	

img{
	display:block;
	max-width.100%;
}

.container--flex{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
nav > a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav > a:hover {
    color: black;
}


.login{
	display:none;
	width:130px;
	background-color:#04AA6D;
	color:white;border-radius:25px;
}
.banner{
	background:url(../media/malaga1.jpg);
	min-height:400px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:-999;
	
	
	
}
.banner:before{
	content:"";/*crear elemento a aprtir de otro*/
	width:100%;
	min-height:400px;
	background: rgba(0,0,0,0.3);/*opasidad*/
	position:absolute;
	top:0;
	left:0;
}
.banner__content{
	width:100%;
	padding:10px;
	position:absolute;
	top:60%;
	left:50%;
	transform: translateX(-50%)translateY(-50%);
	color: white;
	font-size:1.3em;
}


.main{
	margin-top:350px;
}
.welcome{
	text-align:center;
	padding:20px;
	
}
.welcome__title{
	font-size:2em;
}
.welcome__title{
	content:"";
	width:30%;
	position: absolute;
	top:-20px;
	left:35%;
	height: 3px;
	background: #EEAD33;
}
.welcome__txt{
	font-size:1.2em;
	color: #777;
}
.welcome__btn{
	display:block;
	border: 2px solid #EEAD33;
	width:200px;
	margin:auto;
	padding:10px;
	text-decoration:none;
	color:#EEAD33;
	font-size:1.2em;
	font-weight:bold;
	margin-top:30px;
	transition: all 0.5s;
}
.welcome__btn: hover{
	background:#EEAD33;
	color: white;
	
}
.pagina2{
	margin:20px 0;
	
}
.pagina2__item{
	position:relative;
}
.pagina2__item:before{
		content:"";/*crear elemento a aprtir de otro*/
	width:100%;
	min-height:400px;
	background: rgba(0,0,0,0.3);/*opasidad*/
	position:absolute;
	top:0;
	left:0;
}
.pagina2__title{
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%)translateY(-50%);
	color: white;
	font-size:1.8em;
	width:100%;
	text-align: center;
	
}
.pagina__title: before{
	content:"";
	width:35%;
	position: absolute;
	top:-20px;
	left:30%;
	height: 3px;
	background: #EEAD33;
}
.pagina__title: after{
	content:"";
	width:35%;
	position: absolute;
	bottom:-20px;
	left:30%;
	height: 3px;
	background: #EEAD33;
}
.pagina2__img{
	
	
}


  
@media screen and (min-width: 768px) {
  .menu{
	  position: static;
	  opacity:1;
	  visibility: visible;
	  display: flex;
	  background:none;
	  font-size: .8em;
	  
  }
  .menu__item{
	  width:auto;
  }
  .icon-menu{
	  display:none;
  }
  .banner{
	  min-height:500px;
  }
  .banner.before{
	  min-height:500px;
  }
   .main{
	 margin-top:400px
	  }
  

}






		