/*
CSS 
web o pagina: 3º trimestre DAM.
autor: Rita Mª Mesa Jiménez
fecha: 20 Abril 2021.
RECORDAR:
en caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

Se incluyen los principales SELECTORES SIMPLES; hay más combinaciones...

*/
@font-face{
	font-family:"Fraunces";
	src.url(../css/Fraunces.ttf);
}
@font-face{
	font-family:"Roboto";
	src.url(../css/Roboto.ttf);
}
* {

  box-sizing: border-box;
}
body {
  
  margin:0px;
  font-size:100%;
  font-family:"Roboto";
}
h1,h2,h3,h4,h5,h6{
	font-family:"Fraunces";
	
}
.container--flex{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.main-header{
	padding:0 15px;
}
.main-title{
	color:white;
	
}
.color-span{
	color:#EEAD33;
}
.icon-menu{
	font-size:1.5em;
	color: #EEAD33;
	border:1px solid white;
	display:block;
	padding:5px 12px;
	border-radius: 5px;
}
.menu{
	display:none;
}
.banner{
	background:url(../media/malaga1.jpg);
	min-height:400px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:-999;
	
	
	
}
.banner:before{
	content:"";/*crear elemento a aprtir de otro*/
	width:100%;
	min-height:400px;
	background: rgba(0,0,0,0.3);/*opasidad*/
	position:absolute;
	top:0;
	left:0;
}
.banner__content{
	width:100%;
	padding:10px;
	position:absolute;
	top:60%;
	left:50%;
	transform: translateX(-50%)translateY(-50%);
	color: white;
	font-size:1.3em;
}
.main{
	margin-top:350px;
	padding:15px;
	
}
.welcome{
	text-align:center;
	padding:20px 0;
	
}
.welcome_-title{
	font-size:2em;
}
.welcome_-txt{
	font-size:1.3em;
}
.welcome__btn{
	display:block;
	border: 2px solid #EEAD33;
	width:200px;
	margin:auto;
	padding:10px;
	text-decoration:none;
	color:#EEAD33;
	font-size:1.2em;
	font-weight:bold;
	margin-top:30px;
	transition: all 0.5s;
}
.welcome__btn: hover{
	background:#EEAD33;
	color: white;
	
}


  
/*@media screen and (max-width: 727px) {
  .trytopnav {top:70px;}
  #container {top:108px;}

}
@media screen and (max-width: 467px) {
  .trytopnav {top:60px;}
  #container {top:98px;}
  .w3-dropdown-content {width:100%}
}
@media only screen and (max-device-width: 768px) {
  #iframewrapper {overflow: auto;}
  #container     {min-width:320px;}
  .stack         {display:none;}
  #tryhome       {display:block;}
}*/





		