	
	* {
			font-family: 'Nunito', sans-serif;
			box-sizing:border-box;
		}
		
		body {
	     
		  background-image: url('malaga.jpg');
		  background-repeat: no-repeat;
		  background-attachment: fixed;  
		  background-size: cover;
	}
	.marco {
		  display: grid;
		  grid-template-columns: 250px auto;
		  grid-template-rows: 150px 40px auto 40px;
		  grid-gap: 10px;
		  width: 100vw;
		  height: 100vh;
		}
		
		.grid-container {
		  position: sticky;
		  top: 0px;
		  display: grid;
		  grid-template-columns: 1fr 2fr;
		  grid-template-rows: 120px 100vh;
		  grid-gap: 2px;
		  background-color: black;
		  padding: 2px;
		}

		.grid-item {
		  background-color: rgba(255, 255, 255, 1); /* blanco */
		  text-align: center;
		  padding: 10px;
		  
		  font-size: 30px;
		}

		.item1 {
		  grid-column: 1 / span 2;
		  grid-row: 1;
		  color:white;
		  background-color:black;
		  display:flex;
		  align-items: center; 
		  justify-content: center;
		}
			@media screen and (max-width:600px){
			/* reparamos el estilo para pantallas estrechas */